@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.content_agregar-datos {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  .content_titulo {
    width: 80%;
    margin: 0% auto;
    h1 {
      color: v.$blanco;
      font-size: 50px;
      text-align: center;
    }
  }
  form {
    background-color: v.$blanco;
    border-radius: 5px;
    width: 320px;
    h2 {
      text-align: center;
      margin: 1rem 0;
    }
    fieldset {
      border-style: none;
      .content_input {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        label {
          padding: 10px 0;
          font-size: 20px;
          text-align: center;
        }
        input {
          padding: 10px 0;
          border: 1px solid v.$negro;
          border-radius: 5px;
          width: 95%;
          margin: 0% auto;
        }
        textarea {
          border-radius: 5px;
          border: 1px solid v.$negro;
          width: 95%;
          margin: 0% auto;
        }
      }
      .content_boton {
        margin: 20px 0;
        text-align: center;
        button {
          width: 95%;
          background-color: v.$azulClaro;
          color: v.$blanco;
          border: none;
          padding: 10px 0;
          border-radius: 5px;
          transition: 0.25s ease;
          &:hover {
            cursor: pointer;
            box-shadow: 0 0 5px 1px v.$amarillo;
          }
        }
      }
    }
  }
  .content_input-copiar {
    background-color: v.$negroOscuro;
    margin-top: 2rem;
    border: 1px solid v.$blanco;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    border-radius: 5px;
    label {
      color: v.$blanco;
      text-align: center;
      margin-top: 1rem;
    }
    .input {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0;
      background-color: v.$blanco;
      width: 80%;
      margin: 1rem auto 1rem auto;
      border-radius: 5px;
      input {
        border-radius: 5px;
        border: none;
        background-color: v.$negro;
        color: v.$blanco;
        padding: 5px 0;
        margin: 5px 0;
        width: 80%;
      }
      .toggle_copiar {
        display: flex;
        justify-content: center;
        svg {
          font-size: 20px;
          margin-left: 5px;
          transition: 0.25s ease;
          &:hover {
            transform: scale(1.1);
            cursor: pointer;
          }
        }
      }
    }
  }
}

//Versión responsive
@include m.tablet {
  .content_agregar-datos {
    width: 400px;
    form {
      width: 400px;
    }
  }
}
@include m.desktop {
  .content_agregar-datos {
    width: 500px;
    form {
      width: 500px;
      fieldset {
        .content_input {
          .input_file {
            text-align: center;
          }
        }
      }
    }
  }
}
