@use "variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  background: rgb(21, 89, 176);
  background: linear-gradient(
    90deg,
    rgba(21, 89, 176, 1) 0%,
    rgba(60, 159, 203, 1) 34%
  );
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content_video-fondo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -3;
}

a {
  text-decoration: none;
  color: v.$negroOscuro;
}
#root {
  flex: 1 0 auto;
}

ul,
li {
  list-style: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
