//Colores
$blanco : white;
$negroOscuro: black;
$negro: rgb( 44, 62, 80 );
$azulClaro: rgb( 52, 152, 219 );
$amarillo: rgb( 244, 208, 63 );
$rojo: rgb( 231, 76, 60 );
//Color gradiente
// background: rgb(87, 15, 15);
//   background: linear-gradient(
//     90deg,
//     rgba(87, 15, 15, 1) 0%,
//     rgba(0, 0, 0, 1) 35%
//   );

//Medidas
$phone: 30rem;
$tablet: 30.063rem;
$desktop: 48rem;
$desktopXl: 75rem;
