//Colores
$blanco : white;
$negroOscuro: black;
$negro: rgb( 44, 62, 80 );
$azulClaro: rgb( 52, 152, 219 );
$amarillo: rgb( 244, 208, 63 );
$rojo: rgb( 231, 76, 60 );
$gris: rgb( 248, 249, 249 );
$azulGrisClaro: rgb( 93, 109, 126 );

//Medidas
$phone: 30rem;
$tablet: 30.063rem;
$desktop: 48rem;
$desktopXl: 75rem;
