@use '../base/variables' as v;

.content_error{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .error{
        font-size: 40px;
        h1{
            color: v.$blanco;
        }
        p, span{
            color: v.$blanco;
        }
    }
}