@use "../base/variables" as v;
@use "../base/mixins" as m;

.content_contenido-principal-u {
  padding: 5rem 10px 0 10px;
  main {
    margin-top: 3rem;
    .content_instrucciones {
      .content_main-left {
        .content_info {
          .content_titulo {
            h1 {
              margin: 0%;
              color: v.$blanco;
              font-size: 50px;
            }
          }
          .content_parrafo {
            margin-top: 2rem;
            p {
              color: v.$blanco;
              font-size: 20px;
            }
          }
          .content_pasos {
            margin-top: 2rem;
            ul {
              padding-left: 15px;
              li {
                list-style: decimal;
                color: v.$blanco;
                font-size: 17px;
                margin-top: 1rem;
              }
            }
          }
        }
      }
      .content_main-right {
        .content_logo {
          margin-top: 2rem;
          text-align: center;
          img {
            border: 10px;
            box-shadow: v.$amarillo 2px 2px 10px;
            width: 70%;
            border-radius: 50%;
          }
        }
      }
    }
    .content_reportes {
      margin-top: 3rem;
      .content_buscador {
        h2 {
          color: v.$blanco;
          text-align: center;
        }
        form {
          margin: 20px auto 0 auto;
          background-color: v.$blanco;
          justify-content: center;
          border-radius: 5px;
          display: flex;
          align-items: center;
          input {
            border-radius: 5px;
            padding: 5px 0;
            margin: 5px;
            width: 90%;
          }
          button {
            border: none;
            background-color: v.$azulClaro;
            border-radius: 5px;
            padding: 5px;
            transition: 0.25s ease;
            &:hover {
              transform: scale(1.1);
              cursor: pointer;
            }
            svg {
              font-size: 20px;
            }
          }
        }
      }
      .content_tabla-reportes {
        margin-top: 4rem;
        .content_titulo {
          display: flex;
          align-items: center;
          column-gap: 10px;
          h2,
          svg {
            color: v.$blanco;
          }
          svg {
            font-size: 20px;
          }
        }
        .content_tabla {
          table {
            margin-top: 1rem;
            background-color: v.$gris;
            width: 100%;
            border-collapse: collapse;
            border-radius: 5px;
            thead {
              tr {
                th {
                  border-bottom: 1px solid v.$negro;
                  padding: 10px;
                }
              }
            }
            tbody {
              tr {
                td {
                  padding: 10px;
                  text-align: center;
                  a {
                    svg {
                      transition: 0.25s ease;
                      &:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
//Versión responsive
@include m.tablet {
  .content_buscador {
    form {
      justify-content: center;
    }
  }
}

@include m.desktop {
  main {
    .content_instrucciones {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .content_buscador {
    form {
      width: 60%;
      margin: 0% auto;
    }
  }
  .content_tabla-reportes {
    margin: 0% auto;
    .content_titulo {
      justify-content: center;
    }
    .content_tabla {
      width: 70%;
      margin: 0% auto;
    }
  }
}

@include m.desktopXl {
  .content_buscador {
    form {
      width: 50%;
      margin: 0% auto;
    }
  }
  .content_tabla-reportes {
    .content_titulo {
      justify-content: center;
    }
    .content_tabla {
      width: 60%;
      margin: 0% auto;
    }
  }
}
